/* dataview */
.table-view-table > tbody > tr > td {
    text-align: center !important;
}

.markdown-preview-view th {
    text-align: center !important;
}

/* title */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* table of content */
.dynamic-toc {
    text-align: center;
}

.close {
    text-align: right;
}

.dynamic-toc ul {
    list-style-type: none;
    padding-inline-start: 0;
}

li {
    line-height: 2rem;
    /* margin-bottom: 1.5rem; */
}

p {
    line-height: 2rem;
}

a.tag {
    line-height: 1.5rem !important;
}
