/* image */
img {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

/* quote styles */
blockquote {
    text-align: center;
    padding-left: 0 !important;
}

.quote {
    font-family: Kaiti SC, sans-serif;
    font-size: 18px;
}

.quote-en {
    font-family: Athelas, serif;
    font-style: italic;
    font-size: 20px;
}

/* link styles */
a {
    text-underline-offset: 3px;
}

a:hover {
    text-decoration: none !important;
}

/* underline styles */
u {
    text-underline-offset: 3px;
}

u:hover {
    /* cursor: pointer; */
    /* text-decoration-color: darkgray; */
    text-decoration: none;
}

em {
    /* font-family: 'Kaiti SC', sans-serif;
    font-size: 18px;*/
    font-weight: bold;
    font-style: unset;
    -webkit-text-emphasis-style: dot;
    text-emphasis-style: dot;
    -webkit-text-emphasis-position: under;
    text-emphasis-position: under;
}

sup > .internal-link {
    text-decoration: none !important;
}

.ellipsis {
    text-align: center;
}

.title {
    font-style: italic;
    /* font-family:'Palatino', serif; */
}

.label {
    color: gray;
    line-height: 1rem;
    font-size: 12px;
    text-align: center;
}
